.menu {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 600px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 50px;
}

.menu > a {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: lowercase;
}
