.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.header-card {
  display: flex;
  flex-direction: row;
}

.profile-text > p {
  font-family: "Roboto", sans-serif;
  margin-bottom: 6px;
  margin-top: 0;
}

.info-group {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 70%;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.email {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: relative;
  font-size: 16px;
  text-align: center;
}
