.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.info-group {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 70%;
}

.info-group > li {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  position: relative;
  font-size: 20px;
  text-transform: lowercase;
  padding: 14px;
  margin-top: 30px;
  list-style-type: none;
}

.info-group > p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.profile-text > h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
}

.profile-text > p {
  font-family: "Roboto", sans-serif;
}

.profile-text {
  display: flex;
  flex-direction: row;
}

.email {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: relative;
  font-size: 16px;
  text-align: center;
}
