.social-media {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 600px;
}

.social-media > a > img {
  width: 30px;
  height: 30px;
  padding: 4px;
}

.social-media > a {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
